* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  font-size: 16px;
  margin-top: 150%;
  margin-left: -500%;
  margin-right: 100%;
}

nav.menu input[type="text"] {
  margin: 0 10px;
  /* ajusta el espaciado horizontal */
  width: 490px;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  border: none;
}

nav.menu li {
  margin: 0 10px;
  /* ajusta el espaciado horizontal */

}

nav.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 450px;
}
.boton{
  border-radius: 20%!important;
  max-width:1.5rem;
  border-color: #ebe7e749;
}
.container {
  margin-top:3%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 8px 8px #bdbdbdbf;
  width: 80%;
  background-color: #ffffff;
  border-radius: 30px;
  height: auto!important;


}

.container .button {
  outline: none;
  border: none;
  background-color: #770000;
  color: #ffffff;

  border-radius: 20px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;

}

.container .button:hover {
  background-color: #9e0000;
}

.custom-icon {
  color: #ffffff;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: -40px;
}

.custom-icon:hover {
  color: #ffffff;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.select {
  border: none;
  border-bottom: 1px solid #c9c9c9;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}

.slogan {
  text-align: center;


}

.social-media-icons {
  display: flex;
  cursor: pointer;
  gap: 10px;
}

.social-media-icons li {
  margin-right: 10px;
}

.table {
  border-spacing: 0;
  margin-top: 1rem;
}

.table_fotter {
  margin-top: 1rem;
  padding: 0 30px 20px;
}

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0;
}

.td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
}

.th {
  padding: 10px;
}

.thead {
  background-color: gray;
  font-size: 20px;
  height: 60px;
}

.tr {
  text-align: center;
  font-size: 18px;
}

@media (max-width:700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}
.modal-footer{
justify-content: center!important;
}
/*estilos Css modal login y registro*/
.modal-side {

  border-left:1px solid #000000!important;
  border-top: 1px solid #000000!important;
  border-radius: 1%;
  border-top-right-radius: 0%;
  background-color: #9b9797fd;
  position: fixed;
  margin-top: 0;  
  top: 0;
  right: -500px; /* Cambia este valor para ajustar la posición inicial de la ventana */
 /* Cambia este valor para ajustar el ancho de la ventana */
  height: 90%;
  overflow-y: auto;
  z-index: 1050;
  transition: right 0.3s ease-in-out;
}

.modal-side.open {
  right: 0;
  width: 20%;
  min-height: 100%;  
}

.modal-side .modal-content {
  height: auto;
  min-height: 100%;
 
}

.modal-body .btn {
  background-color: #770000!important;
  border:none;
 
  border-radius: 10px;
  
  max-width: 50%;
  
}
.modal-footer .btn {
  background-color: #770000!important;
  border:none;
  padding:15px;
  border-radius: 10px;

  max-width: 50%;
  
}
.modal-body input:focus {
  outline-color: transparent;
  box-shadow: none;
  border-color: gray;
}

.modal-content {
  width: 100%;
  height: auto;
  justify-content: center;
}

#modal-login a {
  color: #000000;
}

.submenu2{
  display: flex;
  justify-content: flex-end;
  align-items:flex-end  ;
  margin-left: 3rem;
}
.modal-body{
  margin-top: 1%;
  padding-left: 5%;
}

.modal-body2{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;   
  max-height: 10rem;
}
 .form-group{
  width: 90%;
  margin: 20px 10px 30px 10px ;
  
}
.btn{
  width: 90%;
  margin: 20px 10px 30px 10px ;
  max-height: 2.5rem;
}

.form-control{
  width: 90%;
  text-align: left;
  border-radius: 10px;
  height: 2.5rem;
  max-height: 2.5rem;
}

h2{
  text-align: center!important;
  color: #000000;

}

.modal-header{
  border: none;
  max-height: auto;
  text-align: center;
}

.subscribe-box {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  width: 90%; /* Agrega el ancho máximo deseado, por ejemplo, 400px */
  margin: 0 auto; /* Para centrar el cuadro horizontalmente */
  height: 200px;
  margin-top: 100px;
  background-image: url('../imagenes/TapaSidim.png');
  background-size: cover;
  background-position: center;
}

.subscribe-box form {
  max-width: 300px;
  margin: 0 auto;
  margin-right: 10%;
}

.subscribe-box .form-group {
  margin-top: -735%;
  margin-left: -100%;
  padding-top: 20px;
}

.subscribe-box .btn {
  width: 50%;
  background-color: #770000;
  border: none;
  margin-right: -60%;
  height: 60px;
  margin-top: -135px;
}

.form-check-label {
  color: #000000;
  margin-top:-90% ;
}

.form-check{
  margin-left: -200%;
  margin-top: -15px;
}

/* Estilo para el carrusel */
#carouselExample {
  width: 100%;
  overflow: hidden;
}

/* Estilo para las imágenes dentro del carrusel */
#carouselExample .carousel-item img {
  width: 100%; /* Ocupa todo el ancho del carrusel */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}

/* Ajustar el tamaño de las imágenes para que coincida con el carrusel */
.carousel-inner img {
  width: 400%;
  
  height: 400%;
  object-fit: cover;
}

.icon-facebook{
  margin-left: 25%;
  margin-top: -21%;
  background-color:  #ffffff;
  color:  #3b5998;
}

.google {
  margin-left: 25%;
  margin-top: -21%;
  background-color:  #ffffff;
  color:  #983b3b;
}

.my-input-class{
  padding-top: 4%;
}


.nomodify[readonly] {
  background-color: #f0f0f0; /* Cambia el fondo a un color gris */
  border: 1px solid #ccc; /* Agrega un borde gris */
  cursor: not-allowed; /* Cambia el cursor a no permitido */
  
}

.pagination .page-item.active .page-link {
  background-color: #770000;
  border-color: #770000;
  color: #fff; /* Color del texto en el elemento activo */
}