<div class="container-fluid px-0" style="width: 90%;">
    <h1>Categorías</h1>
    <table class="table" style="width: 80%;">
        <!-- Tabla con categorías -->
        <thead>
            <tr>
                <th style="width: 20%;">ID Categoría</th>
                <th style="width: 50%;">Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.idCategoria }}</td>
                <td>{{ categoria.Nombre }}</td>
                <td style="width: 10%;">
                    <a href="#" class="editar-categoria" data-toggle="modal" data-target="#editarCategoriaModal"
                        data-id="{{ categoria.idCategoria }}" data-nombre="{{ categoria.Nombre }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <button id="nuevaCategoriaBtn" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#nuevaCategoriaModal">
        Nueva Categoría
    </button>
</div>

<!-- Modal para nueva categoría -->
<div class="modal fade" id="nuevaCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="nuevaCategoriaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Contenido del modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="nuevaCategoriaModalLabel">Nueva Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'crear_categoria' %}">
                    {% csrf_token %}
                    <!-- Campos del formulario para crear una nueva categoría -->
                    <div class="col-sm-12">
                        <label for="Category" class="form-label">Nombre Categoría</label>
                        <input type="text" class="form-control" id="nombreCategoria" name="nombreCategoria"
                            autocomplete="off">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Crear Categoría</button>
                        <button id="cancelbutton" type="button" class="btn2 btn btn-secondary"
                            data-dismiss="modal">Cancelar</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar categoria -->
<div class="modal fade" id="editarCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="editarCategoriaModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Contenido del modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="editarCategoriaModalLabel">Editar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'editar_categoria' %}">
                    {% csrf_token %}
                    <!-- Campo oculto para el ID del producto -->
                    <input type="hidden" name="idCategoria" id="idCategoria">
                    <!-- Campos del formulario para editar la categoria -->
                    <div class="col-sm-12">
                        <label for="Category" class="form-label">Nombre Categoría</label>
                        <input type="text" class="form-control" id="nombreCategoria" name="nombreCategoria"
                            autocomplete="off">
                    </div>

                    <div class="modal-footer">
                        <button id="cancel_editCategory" type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Función para abrir el modal de nueva categoría
    $(document).ready(function () {
        $('#nuevaCategoriaBtn').click(function () {
            $('#nuevaCategoriaModal').modal('show');
        });

        // Cerrar el modal al hacer clic en el botón "Cancelar"
        $('#cancelbutton').click(function () {
            $('#nuevaCategoriaModal').modal('hide');
        });

         // Función para cargar los datos de la categoria en el modal de edición
         $('.editar-categoria').click(function () {
            var id = $(this).data('id');
            var Nombre = $(this).data('nombre');

            // Llenar los campos del modal con los datos de la categoria
            $('#editarCategoriaModal').find('#idCategoria').val(id);
            $('#editarCategoriaModal').find('#nombreCategoria').val(Nombre);

            // Mostrar el modal
            $('#editarCategoriaModal').modal('show');
        });

        // Cerrar el modal con el boton "Cancelar"
        $('#cancel_editCategory').click(function () {
            $('#editarCategoriaModal').modal('hide');
        });
    });
</script>