<div class="form-group">
    <label for="nombreProducto">Nombre Producto</label>
    <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" required>
</div>
<div class="form-group">
    <label for="precioProducto">Precio</label>
    <input type="number" class="form-control" id="precioProducto" name="precioProducto" required>
</div>
<div class="form-group">
    <label for="categoriaProducto">Categoría</label>
    <select class="form-control" id="categoriaProducto" name="categoriaProducto" required>
        <option value="" selected disabled>Seleccione una categoría</option>
        {% for categoria in categorias %}
        <option value="{{ categoria.idCategoria }}">{{ categoria.Nombre }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="descripcionProducto">Descripción</label>
    <textarea class="form-control" id="descripcionProducto" name="descripcionProducto"></textarea>
</div>