<div class="d-flex" id="wrapper">
    <!-- Menú Lateral -->
    <div class="col-md-12" id="sidebar-wrapper">
        <h2>Administrar</h2>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action text-dark" onclick="mostrarProductos()">Productos</a>
            <a href="#" class="list-group-item list-group-item-action text-dark"
                onclick="mostrarCategorias()">Categorías</a>
            <a href="#" class="list-group-item list-group-item-action text-dark" onclick="mostrarProveedores()">Proveedores</a>
        </div>
    </div>
</div>

<script>
    function mostrarProductos() {
        document.querySelectorAll('.content-section').forEach(section => {
            section.style.display = 'none';
        });
        document.getElementById('productosRegistrados').style.display = 'block';
    }

    function mostrarCategorias() {
        document.querySelectorAll('.content-section').forEach(section => {
            section.style.display = 'none';
        });
        document.getElementById('categorias').style.display = 'block';
    }

    function mostrarProveedores() {
        document.querySelectorAll('.content-section').forEach(section => {
            section.style.display = 'none';
        });
        document.getElementById('proveedoresRegistrados').style.display = 'block';
    }
</script>