{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Tienda{% endblock %}
{% block content %}

<div class="container" style="min-width:95%">
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="card-header " style="background-color: rgb(255, 255, 255); ">
                    <h4 style="color:#770000">Filtros</h4>
                </div>
                <div class="card-body center">
                    <h5>Precios</h5>
                    <form method="get" id="priceFilterForm">
                        <ul class="list-group">
                            {% for precio in precios %}
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="selected_prices[]" value="{{ precio.nombre }}" id="precio{{ loop.index }}" data-min="{{ precio.min }}" data-max="{{ precio.max }}">
                                        <label class="form-check-label" for="precio{{ loop.index }}">
                                            {{ precio.nombre }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="list-group-item">
                                <button type="button" class="btn btn-primary" onclick="filterPrices()">Filtrar</button>
                            </li>
                        </ul>
                    </form>
                   
                    
                    <h5 class="">Categoría</h5>
                    <form method="get" action="{% url 'tienda' %}">
                        <label for="categoria">Selecciona una categoría:</label>
                        <select name="categoria" id="categoria" class="form-control">
                            <option value="" {% if not categoria_nombre %}selected{% endif %}>Todas las categorías</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.Nombre }}" {% if categoria.Nombre == categoria_nombre %}selected{% endif %}>{{ categoria.Nombre }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary" value="Filtrar">
                    </form>
                
                </div>
              
            </div>
        </div>
        <div class="col-md-10">
            <div class="row card-container">
                <!-- for que muestra los productos por medio de la vista -->
                {% for producto in page %}
                <div class="col-md-3">
                    <div class="card">
                        {% if producto.imagen_producto %}
                        <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        {% else %}
                        <!-- imagen predeterminada tapa sidim  -->
                        <img src="{% static 'images/TapaSidimNegro.png' %}" class="card-img-top"
                            alt="Imagen Predeterminada">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.precio|currency }}</h5>
                            <p class="card-text">{{ producto.nombre }}</p>

                            <a href="{% url 'agregar_al_carrito' producto.idProducto %}"
                                class="btn btn-primary">AGREGAR</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Paginación de Bootstrap -->
            <nav aria-label="Page navigation example">
                <ul class="pagination" style="background-color: #9e0000;">
                    {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Primero">
                            <span aria-hidden="true">1</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">
                            {{ page.number }}
                            <span class="sr-only">(actual)</span>
                        </span>
                    </li>

                    {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Siguiente">
                            <span aria-hidden="true">{{ page.next_page_number }}</span>
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Último">
                            <span class="sr-only">Última pagina</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    function filterPrices() {
        var form = document.getElementById('priceFilterForm');
        var checkboxes = form.querySelectorAll('input[name="selected_prices[]"]');
        var selectedCheckbox = Array.from(checkboxes).find(checkbox => checkbox.checked);

        if (selectedCheckbox) {
            var minPrice = selectedCheckbox.dataset.min;
            var maxPrice = selectedCheckbox.dataset.max;

            // You can now use minPrice and maxPrice as needed.
            // For example, you can update the URL and submit the form.
            var url = `?min_price=${minPrice}&max_price=${maxPrice}`;
            window.location.href = url;
        }
    }

    // Agregar un listener para desmarcar los otros checkboxes al seleccionar uno.
    document.getElementById('priceFilterForm').addEventListener('change', function(event) {
        var checkboxes = event.target.form.querySelectorAll('input[name="selected_prices[]"]');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = false; // Desmarcar todos los checkboxes
        });
        event.target.checked = true; // Marcar el checkbox seleccionado
    });
</script>
{% endblock %}