<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restablecimiento de contraseña</title>
</head>
<body>
    <p>Hola,</p>
    <p>Has solicitado un restablecimiento de contraseña en nuestro sitio. Para cambiar tu contraseña, haz clic en el siguiente enlace:</p>
    <a href="{{ reset_url }}">Da click aca para reestablecer contraseña </a></p>
    <p>Si no solicitaste este restablecimiento de contraseña, puedes ignorar este mensaje.</p>
    <p>Gracias,</p>
    <p>SIDIM</p>
</body>
</html>
