{% extends "base.html" %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}
<div class="container" style="min-width:70%;min-height:100hv;justify-content: center;align-items: center;   ">
  <h1 style="margin-top: 2%;">Restablecer contraseña</h1>
  <p style="margin-top: 2%;">Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
  <form method="post" style="width: 50%;justify-content: center;align-items: center;" >
    {% if form.errors %}
  <div class="alert alert-danger">
    <strong>Error:</strong> Por favor, corrige los siguientes errores.
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
      {% for field_errors in form.errors.values %}
        {% for error in field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

    {% csrf_token %}
    {{ form.correo.label_tag }}
    {{ form.correo }}
    <button type="submit" class="btn btn-primary" style="width:40%; margin-left: 25%;">Enviar enlace</button>
  </form>

</div>
{% endblock %}