{% extends "base.html" %}
{% block title %}Restablecer Contraseña - Nueva Contraseña{% endblock %}
{% block content %}
<div class="container" style="min-width:70%;min-height:100hv;justify-content: center;align-items: center; ">
  <h2>Restablecimiento de Contraseña</h2>
  <!--error si hay por mal digitacion-->
  {% if form.errors %}
  <div class="alert alert-danger">
    <strong>Error:</strong> Por favor, corrige los siguientes errores.
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
      {% for field_errors in form.errors.values %}
        {% for error in field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

  <p>Por favor, ingrese su nueva contraseña a continuación:</p>

  <form method="post" class="center"  style="min-width: 60%;">
    {% csrf_token %}
    {{ form.new_password1 }}
  
    {{ form.new_password2 }}
    <button class="btn btn-primary" type="submit" style="max-width:30%;">Restablecer Contraseña</button>

  </form>
  
</div>
{% endblock %}