{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIDIM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="{% static 'js/code.jquery.com_jquery-3.7.0.min.js' %}"></script>
</head>

<body>
    <header>
        {% include 'navbar.html' with categorias=categorias %}
    </header>
    <!-- Error General -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-md" style="top:-10%;">
            <div class="modal-content">
                <div class="bg-danger text-white"
                    style="border-top-left-radius: 6px; border-top-right-radius: 6px; min-height: 3rem;">
                    <h5 class="modal-title " id="errorModalLabel" style="margin-left: 45%; margin-top: 1%;">Error</h5>
                </div>
                <div class="modal-body">
                    <p id="errorMessage" class="mb-0" style="justify-content: center;align-items: center;   "></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Ventana modal login -->
    <div class="modal-side" id="loginModal">
        <div class="modal-content">
            <button class="boton close" data-dismiss="modal"
                style="   background-color: #bdbdbda7;border-color: #0000003b;border-radius: 20%!important;max-width:1.5rem;">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-header"
                style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                <h2>Iniciar sesión</h2>
            </div>

            <div class="modal-body"
                style="flex-direction: column; align-items: center; text-align: center; min-width: 95%;">
                <!-- Formulario de inicio de sesión -->

                <form method="post" action="{% url 'home' %}" name="login">
                    {% csrf_token %}
                    <div style="text-align: left;">
                        <label for="login-correo">Email</label>
                    </div>
                    <input type="email" class="form-control" id="login-correo" name="correo"
                        placeholder="Correo electrónico" required>
                    <div style="text-align: left; padding-top: 3%;">
                        <label for="login-password">Contraseña</label>
                    </div>
                    <input type="password" class="form-control" id="login-password" name="password" required>
                    <button type="submit" class="btn btn-primary" name="action" value="login">Login</button>
                </form>
                <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                    <div style="display: flex; align-items: center; margin-bottom: 10px;">
                        <p class="mb-0">¿No tienes cuenta?</p>
                        <div style="margin-left: 10px;">
                            <a id="registerLink" class="link-opacity-100" href="#"
                                style="color: rgb(0, 0, 0); font-weight: bold;">Regístrate</a>
                        </div>
                    </div>
                    <div>
                        <a id="olvidocontra" class="link-opacity-100" href="{% url 'password_reset' %}"
                            style="color: rgb(0, 0, 0); font-weight: bold;">
                            ¿Se te olvidó la contraseña?
                        </a>
                    </div>
                </div>








            </div>


        </div>

    </div>
    </div>

    <!-- Ventana modal registro -->
    <div class="modal-side" id="registerModal">
        <div class="modal-content">
            <button type="button" class="close"
                style=" background-color: #bdbdbda7;border-color: #0000003b;border-radius: 20%!important;max-width:1.5rem;"
                data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-header"
                style="flex-direction: column; align-items: center; text-align: center; min-width: 95%;">
                <h2 class="modal-login">Registro</h2>
            </div>
            <div class="modal-body ">
                <!-- Formulario de registro -->
                <form action="{% url 'home' %}" method="post" class="my-form" name="register">
                    {% csrf_token %}
                    {{form_registro.as_p}}

                    <button type="submit" class="btn btn-primary " name="action" value="register" id="register"
                        style="margin-left:20%!important">Registrarse</button>
                </form>
                <div>
                    <p>
                        <a id="backToLogin" style="margin-top: -10px; color: black;" class="link-back" href="#">Volver
                            al inicio de sesión</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% block content %}


    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>


    {% if registrado_mensaje %}
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="successModalLabel" style="margin-left: 30%;">Bienvenido</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body2">
                    {{ registrado_mensaje }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#successModal').modal('show');
        });
    </script>
    {% endif %}

    {% if error %}
    <script>
        // Muestra el modal y establece el mensaje de error
        const errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.textContent = "{{ error }}";
        const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.show();
    </script>
    {% endif %}
</body>

</html>