{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIDIM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/code.jquery.com_jquery-3.7.0.min.js' %}"></script>
</head>

<body>
    <a href="" class="Logo">
        <img src="{% static 'images/Sidim.png' %}" alt="Logo Sidim" class="logo-img" height="100">
    </a>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Cotizaciones</a></li>
                <li><a href="#">Ayuda</a></li>
                <li>
                    <input type="text" placeholder=" Busca tu bebida preferida">
                </li>
                <div class="icon-container ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    {% if user.is_authenticated %}


                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                    </svg>

                    <a href="/cerrarsesion">Cerrar Sesion</a> <!-- Cierra sesion y muestra logo de campana  -->
                    {% else %}

                    <svg id="user-icon" xmls="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16" data-bs-toggle="modal"
                        data-bs-target="#registroModal">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <a href="/cerrarsesion">Cerrar Sesion</a>
                    {% endif %}

                </div>
            </ul>
        </nav>
        <div class="menu-bar-wrapper">
            <div class="menu-bar">
                <ul class="submenu">
                    <li class="inicio-item">
                        <span class="text-light">
                            <a href="home.html">
                                <svg class="custom-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                                </svg>
                            </a>
                        </span>

                    </li>
                    <li class="menu-item">

                        <a href="vinos.html">Vinos</a>
                        <ul class="subsumenu">
                            <li><a href="../html/vinotinto.html">Vino tinto</a></li>
                            <li><a href="../html/vinosblancos.html">Vino blanco</a></li>
                            <li><a href="../html/vinosrosados.html">Vino rosado</a></li>
                        </ul>
                    </li>
                    <li><a href="licores.html">Licores</a>
                        <ul class="subsumenu">
                            <li><a href="#">Ron</a></li>
                            <li><a href="#">Whiskey</a></li>
                            <li><a href="#">Aguardiente</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Cervezas</a>
                        <ul class="subsumenu">
                            <li><a href="#">Cerveza rubia</a></li>
                            <li><a href="#">Cerveza negra</a></li>
                            <li><a href="#">Cerveza artesanal</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Bebidas </a>
                        <ul class="subsumenu">
                            <li><a href="#">Jugos naturales</a></li>
                            <li><a href="#">Refrescos</a></li>
                            <li><a href="#">Agua</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Gaseosas </a>
                        <ul class="subsumenu">
                            <li><a href="#">Coca-Cola</a></li>
                            <li><a href="#">Pepsi</a></li>
                            <li><a href="#">Fanta</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="barra-horizontal"></div>
        </div>
    </header>


    <!-- Ventana modal login -->
    <div class="modal-side" id="loginModal">
        <div class="modal-content">
            <h2 class="modal-login" style="margin-top: 50px; margin-left: 70px;">Iniciar sesión</h2>
            <div class="modal-header">
                <button type="button" class="close close2" data-dismiss="modal" style="margin-top: -140px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <!-- Formulario de inicio de sesión -->
                <form method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button type="submit"  class="btn btn-primary">Iniciar Sesión</button>
                  </form>
                    <p>
                        <a id="registerLink" class="link-opacity-100" href="#"
                            style="color: rgb(0, 0, 0); margin-left: 28%; font-weight: bold;">
                            ¿No tienes cuenta? Regístrate
                        </a>
                    </p>

                    <h2 class="modal-login"
                        style="margin-top: 80px;margin-left: 10px;font-size: 18px;color: black;text-align: center;">
                        Selecciona
                        una opcion para ingresar</h2>

                    <button type="button" class="btn btn-primary"
                        style="background-color: #ffffff; color: rgb(0, 0, 0); margin-top: 20px;color: #3b5998; ">Entrar
                        con Facebook</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="icon-facebook bi-facebook" viewBox="0 0 16 16">
                        <path
                            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                    </svg>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary"
                        style="background-color: #ffffff; color: rgb(0, 0, 0);margin-top: -35px;color:#be0101;">Entrar
                        con Google</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="google bi-google" viewBox="0 0 16 16">
                        <path
                            d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>


    <!-- Ventana modal registro -->
    <div class="modal-side" id="registerModal">
        <div class="modal-content">
            <h2 class="modal-login" style="margin-top: 50px; margin-left: 70px;">Registro</h2>
            <div class="modal-header">
                <button type="button" class="close close2" data-dismiss="modal" style="margin-top: -140px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <!--- Botón "Volver atrás" para regresar al formulario de inicio de sesión -->
                    <p>
                        <a id="backToLogin" style=" color: black;" class="link-back" href="#">
                            <!--Volver atrás-->
                        </a>
                    </p>
                </div>
                <!-- Error General -->
                {% if error %}
                <div class="alert alert-warning" role="alert" style="max-width:90%;">
                    {{ error }}
                </div>
                {% endif %}
                <!-- Formulario de registro -->
                <form action="" method="post" class="my-form">
                    {% csrf_token %}
                    {{form_registro.as_p}}
                    <div>
                        <button type="submit" class="btn btn-primary" id="registerButton">Registrarse</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
















    {% block content %}

    {% endblock %}



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>


</body>

</html>