<div class="container-fluid px-0" style="width: 95%;">
    <h1>Mis Pedidos</h1>
    <table class="table table-bordered mx-auto">
        <thead>
            <tr>
                <th>Número</th>
                <th>Detalle de Pedido</th>
                <th>Fecha</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Agrega el enlace a los scripts de Bootstrap (jQuery y Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>