{% extends "base.html" %}
{% block title %}Permisos de usuario{% endblock %}
{% block content %}
<div class="container" style="min-height:100hv;justify-content: center;align-items: center;   ">
    <h2>Permisos</h2>
    <form class="d-flex" method="get" action="{% url 'tienda' %}">
        <input class="form-control me-2 " type="search" placeholder="Buscar usuario" aria-label="Buscar"
            style="margin-top:5%;min-width:80%" name="busqueda">
        <button class="btn btn-primary" type="submit">Buscar </button>
    </form>
    <table class="table" style="width: 90%; ;">
        <thead>
            <tr>
                <th style="width: 20%;">Documento</th>
                <th style="width: 10%;">Nombre</th>
                <th style="width: 10%;">Apellido</th>

                <th style="width: 10%;">Correo</th>
                <th style="width: 10%;">Telefono</th>
                <th style="width: 15%;">Permisos</th>
                <th style="width: 5%;">Editar</th>

            </tr>
        </thead>
        <tbody id="detallesTabla">
            {% for usuario in usuarios %}
             
            <tr>
                <td>{{ usuario.idusuario }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td> {% if usuario.groups.exists %}
                    {% for group in usuario.groups.all %}
                    {{ group.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    {% else %}
                    No pertenece a ningún grupo.
                    {% endif %}</td>
                <td style="width: 10%;">
                    <a href="#" class="editar-usuario" data-toggle="modal" data-target="#editarUsuarioModal"
                        data-id="{{ usuario.idusuario }}" data-nombre="{{ usuario.nombre }}"
                        data-apellido="{{ usuario.apellido }}" data-apellido="{{ usuario.apellido }}"
                        data-correo="{{ usuario.correo }}" data-telefono="{{ usuario.telefono }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16" style="color: #770000;">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>



<!-- Editamos usuario modal-->
<div class="modal fade" id="editarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="editarUsuarioModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Contenido del modal -->
            <div class="modal-header">
                <h5 class="modal-title" id="editarUsuarioModalLabel">Editar Usuario - Permisos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'editar_grupo' %}">
                    {% csrf_token %}
                    <!-- Campo oculto para el ID del usuario -->
                    <input type="hidden" name="idUsuario" id="idUsuario">
                    <!-- Campos del formulario para editar el usuario -->
                    <div class="col-sm-12">
                        <label for="nombreUsuario" class="form-label">Nombre </label>
                        <input type="text" class="form-control disabled" id="nombreUsuario" name="nombreUsuario"
                            autocomplete="off" disabled>
                    </div>

                    <!-- Agregar campos para otros datos del usuario -->
                    <div class="col-sm-12">
                        <label for="apellidoUsuario" class="form-label">Apellido </label>
                        <input type="text" class="form-control" id="apellidoUsuario" name="apellidoUsuario"
                            autocomplete="off"disabled>
                    </div>

                    <div class="col-sm-12">
                        <label for="correoUsuario" class="form-label">Correo </label>
                        <input type="text" class="form-control" id="correoUsuario" name="correoUsuario"
                            autocomplete="off" readonly>
                    </div>

                    <div class="col-sm-12">
                        <label for="telefonoUsuario" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefonoUsuario" name="telefonoUsuario"
                            autocomplete="off"disabled>
                    </div>

                    <div class="col-sm-12">
                        <label for="gruposUsuario" class="form-label">Grupos</label>
                        <select  class="form-control" id="gruposUsuario" name="gruposUsuario">
                            <option value="Ninguna">Ninguna</option>
                            {% for grupo in grupos %}
                                <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer"  style="margin-top:5%">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn2 btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<script>
    // Función para cargar los datos del usuario en el modal de edición
    $(document).ready(function () {
        $('.editar-usuario').click(function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            var apellido = $(this).data('apellido');
            var correo = $(this).data('correo');
            var telefono = $(this).data('telefono');
          

            // Llenar los campos del modal con los datos del usuario
            $('#editarUsuarioModal').find('#idUsuario').val(id);
            $('#editarUsuarioModal').find('#nombreUsuario').val(nombre);
            $('#editarUsuarioModal').find('#apellidoUsuario').val(apellido);
            $('#editarUsuarioModal').find('#correoUsuario').val(correo);
            $('#editarUsuarioModal').find('#telefonoUsuario').val(telefono);
           
            // Mostrar el modal
            $('#editarUsuarioModal').modal('show');
        });

        // Cerrar el modal con el botón "Cancelar"
        $('#cancel_editUsuario').click(function () {
            $('#editarUsuarioModal').modal('hide');
        });
    });
</script>

{% endblock %}