{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Tienda{% endblock %}
{% block content %}

<div class="container" style="min-width:95%">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 style="color:#770000!important">Filtrar por precio</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for precio in precios %}
                            <li class="list-group-item">
                                <a href="?min_price={{ precio.min }}&max_price={{ precio.max }}" style="color:black">
                                    {{ precio.nombre }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row card-container" style="padding-top:5%">
                <!-- for que muestra los productos por medio de la vista -->
                {% for producto in page %}
                <div class="col-md-3">
                    <div class="card">
                        {% if producto.imagen_producto %}
                        <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        {% else %}
                        <!-- imagen predeterminada tapa sidim  -->
                        <img src="{% static 'images/TapaSidimNegro.png' %}" class="card-img-top" alt="Imagen Predeterminada">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.precio|currency }}</h5>
                            <p class="card-text">{{ producto.nombre }}</p>
                            <div class="card-footer">
                                <button class="btn btn-danger btn-minus">-</button>
                                <span class="quantity">0</span>
                                <button class="btn btn-success btn-plus">+</button>
                            </div>
                            <a href="#" class="btn btn-primary">AGREGAR</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Paginación de Bootstrap -->
            <nav aria-label="Page navigation example">
                <ul class="pagination" style="background-color: #9e0000;">
                    {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Primero">
                            <span aria-hidden="true">1</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">
                            {{ page.number }}
                            <span class="sr-only">(actual)</span>
                        </span>
                    </li>

                    {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Siguiente">
                            <span aria-hidden="true">{{ page.next_page_number }}</span>
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Último">
                            <span class="sr-only">Última pagina</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
