<form id="updatepasswordForm" class="form" method="post" action="{% url 'cambiar_contrasena' %}">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-4 offset-md-4">
            <label for="contrasena_actual">Contraseña Actual</label>
            <input type="password" id="contrasena_actual" name="contrasena_actual" class="form-control" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 offset-md-4">
            <label for="nueva_contrasena">Nueva Contraseña</label>
            <input type="password" id="nueva_contrasena" name="nueva_contrasena" class="form-control" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 offset-md-4">
            <label for="confirmar_contrasena">Confirmar Nueva Contraseña</label>
            <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <button id="guardarBtn" type="submit" class="btn btn-success btn-sm">Guardar</button>
        </div>
    </div>
</form>